:root {
  --button-color: linear-gradient(to right, #FB527B, #FEE03B );
}

.container{
  /* display: flex;
  flex-direction: column; */
  /* height: 100vh; */
  width: 100%;

}

.fullscreen_input_container {
  /* height: 100vh; */
  border-radius: 36px 36px 0px 0px;

  background: #fff;
  margin-top: 84px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* height: 100vh; */
}

.screen_title {
  padding: 20px 20px;
  color: #454243;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  text-transform: uppercase;
}

.fullscreen_input {
  border-radius: 16px;
  background: #ececec;
  margin-right: 20px;
  width: 95%;
  height: 40px;
  outline: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  padding-left: 30px;
  margin-bottom: 0;
}

.loop_img {
  position: absolute;
  top: 165px;
  left: 15px;
}


.back{
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: rgba(17, 17, 17, 0.20);
  border-radius: 100%;
  display: grid;
  place-items: center;
  top: 25px;
  left: 16px;
}


.home {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: rgba(17, 17, 17, 0.20);
  border-radius: 100%;
  display: grid;
  place-items: center;
  top: 25px;
  right: 16px;
}

.block {
  flex: 1;
  z-index: 1;
}



.searchResultTitle {

  font-family: Inter ;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #454243;
}

.searchResultSubtitle {
  font-size: 10px;
  color: #ABABAB;
}
.searchResult{
  width: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.paginationInfo {
  /* margin-top: 20px; */
  font-size: 0.8em;
  color: #888;
}
.main{
  background-color: #fff;

}
.card{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background: white;
}

@media screen and (max-width: 370px) {
  .card{
    /* grid-template-columns: repeat(1, 1fr); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .searchResultPhoto{
    width: 200px;
    height: 240px;
  }
  .searchResult{
    width: 200px;
    /* margin: 0 auto; */
  }
  .searchResultSubtitle {
    font-size: 12px;
  }
}


.section__places__button {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.section__places__btn {
  width: 100%;
  padding: 16px 16px;
  border-radius: 16px;
  background: var(--button-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
  color: #fff;
}
